* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.wrapper {
    position: relative;
    top: 20rem;
    left: 42rem;
    border: 2px lightgrey solid;
    width: 35rem;
    height: 15rem;
    padding: .5rem;
}
ul {
    list-style: none;
}
ul, li, p, a {
    padding: .5rem;
    text-align: center;
}
.topLeft {
    position: absolute;
    top: 2rem;
    left: 2rem;
}
.topRight {
    position: absolute;
    top: 2rem;
    left: 20rem;    
}
.bottom {
    position: absolute;
    padding: .5rem;
    bottom: -0.1rem;
    left: -0.1rem;
    width: 35rem;
    z-index: 1;
    text-align: center;
    border: 2px lightgrey solid;
    background-color: rgb(227, 252, 252);
}
.fbook, .google, .twitter {
    width: 10rem;
    height: 2rem;
    border: 1px red solid;
}
a:visited {
    color: white;
}
.fbook {
    background-color: rgb(57, 57, 238);
}
/* body {
    width: 100vw;
    height: 100vh;
}
table {
    position: absolute;
    padding: 1rem;
    width: 30%;
    margin: 22% 36% auto;
    border: 1px gray solid;
}
table tr td {
    text-align: center;
    columns: 2;
}
caption {
    caption-side: bottom;
    border: 1px gray solid;
    padding: .5rem;
    background-color: rgb(227, 252, 252);
}
#left {
    position: relative;
    margin-left: 0rem;
}
#right {
    position: relative;
    margin-right: 0rem;
} */

